/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter {
	position: fixed;
	z-index: 9999; 
	overflow: hidden;
	background-color: #000; 
	box-shadow: 0px 0px 23px 5px #0020FF;
}

#lbBottomContainer {
	position: absolute;
	z-index: 9999; 
	overflow: hidden;
	background-color: #000; 
	background:rgba(0,0,0,0.5);
	margin-top:-41px;
}

.lbLoading {
	background:url("https://lh6.googleusercontent.com/-OV1-4E39vAA/VCwsTj2HGaI/AAAAAAAAMAI/FFJSzevxOgU/s128/ajax-loader.gif") no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0; 
	max-width:900px; max-height:550px;
	background-repeat: no-repeat 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#lbPrevLink {
	right: 0; 
	display: block;
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	outline: none;
	background: transparent url("https://lh3.googleusercontent.com/-TKmeDMLkzgk/VDh3FPqyX_I/AAAAAAAAMUc/abaw7JVsMk4/s128/prevbutton-clean.png") no-repeat;
	opacity:0.4;
}

#lbPrevLink:hover {
	opacity:1;
}

#lbNextLink {
	right: 50px;
	display: block;
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	outline: none;
	background: transparent url("https://lh6.googleusercontent.com/-p6YLcKzgQ8Q/VDh3E9XO8HI/AAAAAAAAMUY/bekmq06DSh0/s128/nextbutton-clean.png") no-repeat;
	opacity:0.4;
}

#lbNextLink:hover {
	opacity:1;
}

#lbBottom {
	font:12px Verdana, Arial, Geneva, Helvetica, sans-serif;
	color: #D3D3D3;
	line-height: 1.4em;
	text-align: left;
	border-top-style: none;
	padding:5px;
	position:absolute;
	max-width:900px;
	max-height:50px;
	width:100%;
	
}

#lbCloseLink {
	display: block;
	right:10px;
	position: absolute;
	bottom:0;
	width: 40px;
	height: 40px;
	background: transparent url("https://lh6.googleusercontent.com/-HLZpoVGrd9Y/VDh3bGaBESI/AAAAAAAAMUo/Txf9KO8Ni6s/s128/close-b.png") no-repeat;
	margin: 5px;
	outline: none;
}

#lbCaption {
	font:12px Verdana, Arial, Geneva, Helvetica, sans-serif; padding-bottom:5px;
}

#lbNumber {
	font:10px Verdana, Arial, Geneva, Helvetica, sans-serif;
}

#lbCaption {
	font-weight: bold;
}
